apiVersion: apps/v1
kind: Deployment
metadata:
  name: privatevault
  namespace: pv-pilot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: privatevault
  template:
    metadata:
      labels:
        app: privatevault
    spec:
      containers:
      - name: privatevault
        image: privatevault:demo
        imagePullPolicy: IfNotPresent

        ports:
        - containerPort: 8000

        env:
        - name: DEMO_MODE
          value: "true"

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
